{% extends 'layouts/main.html' %}
{% block title %} Image Service {% endblock %}
{% block pro1 %}
          <form action="/providers">
             <button class='btn1'type="submit"name="button">Find a Provider</button>
           </form>

          <form action="/providers" method="put" id='post_provider'>
            <button class='btn2'type="submit"name="button">Post a provider</button>
          </form>
{% endblock %}
{% block pro2 %}
          <form action="/customers">
            <input type="hidden">
            <button class='btn1'type="submit"name="button">Find a customer</button>
          </form>

          <form action="/customers" method="put" id='post_customer'>
            <input type="hidden">
            <button class='btn2'type="submit"name="button">Post a customer</button>
          </form>
{% endblock %}
{% block row2 %}
          <img class='photo' src="https://scontent.fotp8-1.fna.fbcdn.net/v/t31.0-8/14884503_526062380922206_7399815249623084388_o.jpg?_nc_cat=100&_nc_sid=9267fe&_nc_ohc=jzUWUPXVrQMAX9I02yG&_nc_ht=scontent.fotp8-1.fna&oh=6355ec57e1e1750b516bd9f6fee6b4d0&oe=5FB243BE"alt="wedding photo">
{% endblock %}
{% block script %}
          <script type="text/javascript" src="/static/script.js"> </script>

          <script>
            var a = document.getElementById('post_provider');
            a.onsubmit = function(e) {
              e.preventDefault();
              a = sessionStorage.getItem("token");
              fetch('/providers', {
                method : 'PUT',
                body : JSON.stringify({'token':token}),
                headers : {"Authorization": "Bearer " + token, "Content-Type":"application/json"}
              })
              .then(respond => respond.json())
              .then(jsonRespond => {
                if (jsonRespond.token) {
                  window.location.href = jsonRespond.redirect;
                } else {
                  alert('you not authorize');
                };
              });
            };
          </script>
          <script>
            var a = document.getElementById('post_customer');
            a.onsubmit = function(e) {
              e.preventDefault();
              a = sessionStorage.getItem("token");
              fetch('/customers', {
                method : 'PUT',
                body : JSON.stringify({'token':token}),
                headers : {"Authorization": "Bearer " + token, "Content-Type":"application/json"}
              })
              .then(respond => respond.json())
              .then(jsonRespond => {
                if (jsonRespond.token) {
                  window.location.href = jsonRespond.redirect
                } else {
                  alert('you not authorize')
                }
              });
            };
          </script>
          <script>
            a = document.getElementById('logout')
            a.onclick = function() {
              sessionStorage.removeItem("token");
            }
          </script>
          <script>
            logs = document.getElementById('logs')
            token = sessionStorage.getItem("token");
            if (token) {
              console.log(token);
              logs.innerHTML = 'Welcome, you are logged in !'
            } else {
              logs.innerHTML = 'Welcome guest !'
            }
          </script>
{% endblock %}
