{% extends 'layouts/main.html' %}
{% block title %} Image Service {% endblock %}
{% block pro1 %}
          <form action="/providers">
             <button class='btn1'type="submit"name="button">Find a Provider</button>
           </form>

          <form action="/providers" method="put" id='post_provider'>
            <button class='btn2'type="submit"name="button">Post a provider</button>
          </form>
{% endblock %}
{% block pro2 %}
          <form action="/customers">
            <input type="hidden">
            <button class='btn1'type="submit"name="button">Find a customer</button>
          </form>

          <form action="/customers" method="put" id='post_customer'>
            <input type="hidden">
            <button class='btn2'type="submit"name="button">Post a customer</button>
          </form>
{% endblock %}
{% block row2 %}
          <img class='photo' src="https://photos.google.com/search/_tra_/photo/AF1QipPPCAXEeNVXeUdTxxy643sJcgFZpsIZ16TA-vc7"alt="wedding photo">
{% endblock %}
{% block script %}
          <script type="text/javascript" src="/static/script.js"> </script>
{% endblock %}
