<!DOCTYPE html>
<html>
  <head>
    <title>post a new customer</title>
    <link rel="shortcut icon" href="">
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body>
    <div class='head'>
      <h4> <a href='/'>🎬</a>&nbsp &nbsp &nbsp<a href="/providers">Providers</a>&nbsp &nbsp &nbsp<a
             href="/customers">Customers</a> &nbsp &nbsp &nbsp<a
             href="/events">Events </a></h4>
    </div>
    <div class='page'>
      <div class='row'>
        <ul class="form-wrapper">
          <h3 class="form-heading"> List a new customer </h3>
          <form id='form'>
            <li><label>Name</label>
            <li><input id='name' type="text" name="name" value="">
            <li><label>Area</label>
            <li><input id='area' type="text" name="area" value="">
            <li><label>Adress</label>
            <li><input id='adress' type="text" name="adress" value="">
            <li><label>Phone</label>
            <li><input id='phone' type="text" name="phone" value="">
            <li><label>social_media</label>
            <li><input id='social_media' type="text"name="social_media"value="">
            <li><label>image link</label>
            <li><input id='image_link' type="text" name="image_link" value="">
            <li><button class="btn1" type="submit">Post a customer</button>
          </form>
        </ul>
      </div>
    </div>
    <div class='head'>
      <p> <em>Powerd by Valerian Ardelean © 2020</em></p>
    </div>
    <script>
      var a = document.getElementById('form');
      a.onsubmit = function(e) {
        e.preventDefault()
        var name = document.getElementById('name')
        var city = document.getElementById('area')
        var adress = document.getElementById('adress')
        var phone = document.getElementById('phone')
        var social_media = document.getElementById('social_media')
        var image_link = document.getElementById('image_link')
        token = sessionStorage.getItem("token")
        fetch('/customers', {
          method : 'POST',
          body : JSON.stringify({
            'name': name.value,
            'city': area.value,
            'adress': adress.value,
            'phone': phone.value,
            'social_media': social_media.value,
            'image_link': image_link.value,}),
          headers : {"Authorization": "Bearer " + token, "Content-Type":"application/json"}
        })
        .then(respond => respond.json())
        .then(jsonRespond => {
          if (jsonRespond) {
            window.location.href = jsonRespond.redirect
          } else {
            alert('bad request')
          };
        });
      }
    </script>
  </body>
</html>
